[Unit]
Description=TVSC Web UI
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/sbin/mini_httpd -C /usr/share/tvsc/virtual_tower_ui/conf/http.conf
Type=forking
KillMode=mixed
Restart=on-failure
LimitRTPRIO=99

[Install]
WantedBy=multi-user.target
