# Ignore any files in a production folder that have a date and timestamp at the end of the name, such as: 2s3p_battery_board/production/2s3p_battery_board_2024-02-29_22-34-15
**/production/*_[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]_[0-9][0-9]-[0-9][0-9]-[0-9][0-9]

# Ignore any footprint cache files
**/fp-info-cache

# Ignore UI state files. These include things like the active layer in the PCB. It's not useful to track these in version control.
**/*.kicad_prl

# Ignore lock files.
**/~*.kicad_*.lck

# Ignore backups.
**/*-backups/

# Ignore auto save files.
**/\#auto_saved_files\#
