# Defaults for all builds
build --enable_platform_specific_config --config=c++17 --config=platform_build

build:linux --platforms=//platforms:linux_x86_64_general

# Settings for different C++ dialects
build:c++17 --cxxopt -std=c++17
build:c++20 --cxxopt -std=c++20
build:c++2a --cxxopt -std=c++2a

# Setting to enable platform builds.
build:platform_build --incompatible_enable_cc_toolchain_resolution

# Note: This configuration picks up the build:linux configurations as well.
build:odroid_m1 --platforms=//platforms:odroid_m1
build:odroid_m1 --cpu=arm64 --crosstool_top=//toolchain/arm64-debian-linux-gnu:gcc_toolchain --host_crosstool_top=@bazel_tools//tools/cpp:toolchain

build:teensy4 --platforms=//platforms:teensy4
build:teensy4 --cpu=armv7e-mf --crosstool_top=//toolchain/arm-none-eabi-gcc:gcc_toolchain --host_crosstool_top=@bazel_tools//tools/cpp:toolchain

# Address sanitizer
# CC=clang bazel build --config asan
build:asan --strip=never
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -g
build:asan --copt -O3
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address

# Memory sanitizer
# CC=clang bazel build --config msan
build:msan --strip=never
build:msan --copt -fsanitize=memory
build:msan --copt -DMEMORY_SANITIZER
build:msan --copt -g
build:msan --copt -O3
build:msan --copt -fno-omit-frame-pointer
build:msan --linkopt -fsanitize=memory

# Undefined Behavior Sanitizer
# CC=clang bazel build --config ubsan
build:ubsan --strip=never
build:ubsan --copt -fsanitize=undefined
build:ubsan --copt -DUNDEFINED_BEHAVIOR_SANITIZER
build:ubsan --copt -g
build:ubsan --copt -O3
build:ubsan --copt -fno-omit-frame-pointer
build:ubsan --linkopt -fsanitize=undefined
build:ubsan --linkopt -lubsan

# Code coverage
# This option gives us a single combined report for the whole repository.
coverage --combined_report=lcov
coverage --instrumentation_filter "^//"
