[Unit]
Description=TVSC Proxy
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/tvsc_proxy
Type=simple
KillMode=mixed
Restart=on-failure
LimitRTPRIO=99

[Install]
WantedBy=multi-user.target
