[Unit]
Description=TVSC Greeter
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/greeter_server
Type=simple
KillMode=mixed
Restart=on-failure
LimitRTPRIO=99

[Install]
WantedBy=multi-user.target
