* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding: 10px;
    background: #f1f1f1;
}

.monospace {
    font-family: "Lucida Console", Courier, monospace;
    text-align: right;
}

h1 {
    font-size: x-large;
    font-weight: bolder;
}

h2 {
    font-size: large;
    font-weight: bolder;
}

.header {
    padding: 10px;
    text-align: center;
    background: white;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
}

.topnav a {
    float: left;
    display: block;
    color: #f0f0f0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #eee;
    color: black;
}

.leftcolumn {
    float: left;
    width: 25%;
    max-width: 300px;
}

.centercolumn {
    float: left;
    width: 75%;
    padding-left: 20px;
}

.image {
    background-color: #999;
    width: 100%;
    padding: 20px;
}

.panel_widget {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    width: 400px;
    max-width: 100%;
    height: 300px;
    display: inline-grid;
}

.menu_widget {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear any floats after the columns. */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    padding: 15px;
    text-align: center;
    background: #666;
    margin-top: 20px;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0px;
}

.copyright {
    font-size: small;
    color: black;
    margin-top: 10px;
}

div.credits{display:none;}

@media screen and (max-width: 800px) {
    .leftcolumn, .centercolumn {
	width: 100%;
	padding: 0;
	max-width: 800px;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
	float: none;
	width: 100%;
    }
}
